*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
}

#page1{
  background: #000814;
}

#page2{
  background:#BD1919;
}

#page3{
  background:#ffc300;
}

#page4{
  background:#7A9F35;
}

a{
  text-decoration: none;
  color:inherit;
}

h1{
  font-family: "Bungee Inline";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  color: #faf9f9;
}

h2{
  font-family: "Bungee Shade";
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

 h3{
  font-family: "Bungee Inline";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
 }

 h4{
  font-family: "Bungee Inline";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  color: #000814;
  color: inherit;
  margin-bottom: 5%;
 }

 h5{
  color: #BD1919;
  text-align: center;
  font-family: "Bungee Inline";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
 }

 h6{
  color: #ffc300;
  font-family: Bungee;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  text-wrap: nowrap;
  margin-left: 2%;
  margin-top: 1%;
  animation: pg2animation2;
  animation-direction: sideways;
  animation-duration: 3s;
 }

 p{
  font-family: "Bungee Inline";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  color: #BD1919;
 }

.pg1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #faf9f9;
}

#line1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10%;
  gap: 2%;
}

.p1:hover{
   transform: scale(1.5) translateY(75px);
   transition-timing-function: ease;
   transition-duration: 2s;
}

.p1{
  color: #BD1919;
}

.pg2{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.p2{
  color: #7A9F35;
  text-align: left;
  margin-left: 30%;
  margin-bottom: 5%;
}

.p2:hover{
  transform: scale(1.5);
  transition-timing-function: ease;
  transition-duration: 1s;
}

#saying{
  color: #ffc300;
  margin-top: 3%;
  margin-right: 2%;
  text-align: right;
  margin-left: 25%;
  animation: pg2animation2;
  animation-direction: sideways;
  animation-duration: 3s;
  animation-delay: 3s;
}

.pg3{
  margin-top: 3%;
}

#wo{
  margin-top: 4%;
  margin-bottom: 6%;
}

#wo:hover{
  transform: rotate(360deg);
  transition-timing-function: ease-in;
  transition-duration: 2s;
}

#p3h41{
  width: 50%;
  text-align: left;
  margin-left: 2%;
  animation: pg2animation1;
  animation-direction: sideways;
  animation-duration: 3s;
}

#p3h42{
  margin-left: 40%;
  margin-right: 2%;
  text-align: right;
  animation: pg2animation2;
  animation-direction: sideways;
  animation-duration: 3s;
}

#p3h43{
  color: #BD1919;
  width: 505px;
  margin-top: 100px;
  margin-left: 173px;
  text-align: left;
}

#p3h44{
  color: #BD1919;
  text-align: right;
  width: 505px;
  margin-left: 780px;
}

.p4h2{
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 4%;
  color: #faf9f9;
  text-align: left;
}

.p4h2:hover{
  transform: scale(1.5)translate(300px);
  transition-timing-function: ease;
  transition-duration: 1s;
}

.p4h21{
  color: #faf9f9;
  text-align: left;
  margin-left: 30%;
  margin-bottom: 5%;
}

.p4h21:hover{
  transform: scale(1.5);
  transition-timing-function: ease;
  transition-duration: 1s;
}

#p4h4{
  color: #ffc300;
  text-align: right;
  margin-right: 2%;
  animation: pg2animation2;
  animation-direction: sideways;
  animation-duration: 3s;
}

.line4{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 8%;
}

#p4h5{
  color: #faf9f9;
  text-align: right;
  margin-right: 2%;
  animation: pg2animation1;
  animation-direction: sideways;
  animation-duration: 3s;
}

#p4h41{
  text-align: right;
  margin-top: 5%;
  margin-right: 2%;
  animation: pg2animation2;
  animation-direction: sideways;
  animation-duration: 3s;
  animation-delay: 7s;
}

#p4h42{
  color: #BD1919;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 2%;
}

#p4h42:hover{
  transform: rotate(360deg);
  transition-timing-function: ease-in;
  transition-duration: 2s;
}

#p4h43{
  color: #ffc300;
  text-align: left;
  margin-left: 2%;
  width: 800px;
  animation: pg2animation1;
  animation-direction: sideways;
  animation-duration: 3s;
  animation-delay: 16s;
}

#p4h44{
  margin-left: 2%;
  animation: pg2animation1;
  animation-direction: sideways;
  animation-duration: 3s;
  animation-delay: 7s;
}

#p4h51{
  color: #faf9f9;
  text-align: right;
  margin-right: 2%;
  margin-left: 367px;
  margin-bottom: 5%;
  animation: pg2animation2;
  animation-direction: sideways;
  animation-duration: 3s;
  animation-delay: 18s;
}

footer{
  display: flex;
  flex-direction: row;
  gap: 1%;
  background: #000814;
  height: 80px;
  justify-content: right;
  align-items: center;
}

footer h1{
  margin-right: 1%;
}

footer p{
  animation: pg3animation;
  animation-direction: ease forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
  animation-delay: 18s;
}

@keyframes pg2glow{
  from{
    text-shadow: none;
  }
  to{
    text-shadow:  0 0 10px #ffc300;
  }
}

#saying2{
  animation: pg2glow;
  animation-direction: ease forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
  animation-delay: 3s;
}

@keyframes pg1animation {
  from {
    position: relative;
    top: 600px;
    text-shadow: none;
  }
  to {
    position: relative;
    top: 0;
    text-shadow:  0 0 20px #faf9f9;
  }
}

.pg1 h3 {
  animation: pg1animation;
  animation-direction: ease forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}

@keyframes pg2animation1{
  from {
    position: relative;
    left: 100%;
  }
  to {
    position: relative;
    left: 0%;
  }
}

.hear{
  animation: pg2animation1;
  animation-direction: sideways;
  animation-duration: 3s;
}

@keyframes pg2animation2{
  from {
    position: relative;
    right: 100%;
  }
  to {
    position: relative;
    right: 0%;
  }
}

@keyframes pg3animation{
  from{
    opacity: 0%;
    text-shadow: none;
  }
  to{
    opacity: 100%;
    text-shadow:  0 0 10px #BD1919;
  }
}

#p3h43, #p3h44{
  animation: pg3animation;
  animation-direction: ease forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
  animation-delay: 8s;
}
